@tailwind base;
@tailwind components;
@tailwind utilities;
<<<<<<< HEAD


.avatar-small img {
  width: 30px; 
  height: 30%; 
  object-fit: cover; 
}
=======
>>>>>>> 9d936d4dd17a502233f4769ffe6e264c39686727
